.ExpensesPage {
    background-color: cornsilk;
    min-height: 350px;
    min-width: 500px;
    max-width: 1440px;
    margin: auto auto;
    padding: 20px;
}

.expenses-container{
    
    border: 2px solid black ;
    min-height: 50px;
    margin:0px;
}

