.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    padding: 0;
}

.grid-container > div {
    border: 1px solid black;
}

.break-text {
    word-break: break-word;
}

.category{
    min-width: 100px;
    text-align: center;

}