.expense-nav{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}

.expense-nav > div {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
}

.expense-category{
    min-width: 100px;
    text-align: center;
}
